@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --color-base-bg: #F9FAF8;
    --color-primary: #662222;
    --color-primary-darker: #3f1515;

}

body {
    min-height: 100vh;
    background-color: var(--color-base-bg);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo {
    font-size: 2rem;
    color: var(--color-base-bg);
    font-weight: bold;
    text-decoration: none;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

.links a {
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-base-bg);
    display: block;
    padding: 15px;
    margin: 0px;
}

.links a:hover {
    background-color: var(--color-primary-darker);
}

.doctor-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doctor {
    width: 200px;
    height: 200px;
    background-color: gray;
}


#footer {
    margin-top: auto;
    color: var(--color-base-bg);
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}