@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --color-base-bg: #F9FAF8;
    --color-primary: #662222;
    --color-primary-darker: #3f1515;
}

body {
    min-height: 100vh;
    background-color: var(--color-base-bg);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* HEADER */
.header {
    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 2rem;
    color: var(--color-base-bg);
    font-weight: bold;
    text-decoration: none;
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.links a {
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-base-bg);
    display: block;
    padding: 15px;
}

.links a:hover {
    background-color: var(--color-primary-darker);
}

/* CONSULTATION TABLE */
.consultations-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultations-actions {
    width: 90%;
}

.consultations-table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    margin-top: 10px;
    background-color: #fff;
    font-size: 1rem;
}

.consultations-table thead {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 600;
}

.consultations-table th,
.consultations-table td {
    padding: 12px 16px;
    text-align: left;
    white-space: nowrap;
}

.consultations-table tbody tr:nth-child(odd) {
    background: #ffffff;
}

.consultations-table tbody tr:nth-child(even) {
    background: #f6f8fa;
}

.consultations-table tbody tr:hover {
    background: rgba(100, 120, 140, 0.06);
}


/* FOOTER */
#footer {
    margin-top: auto;
    color: var(--color-base-bg);
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}